/* USER CARD */
.userCard {
  background: rgba(182, 207, 207, 0.55);
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userCard h4 {
  text-transform: capitalize;
}

.userCard button {
  text-align: center;
  display: flex;
  border: none;
  font-size: 1rem;
}

.userCard .hero {
  display: flex;
  align-items: center;
}

.userCard span {
  font-size: 2rem;
}

.userCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.usersContainer {
  width: 30%;
}

.usersInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.coffeeIcon {
  margin-right: 1rem;
}
/* LABELS */

.labels {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: teal;
}

.labelContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* NOTES */

.userNote {
  cursor: pointer;
  margin: 0.5rem 0rem;
  padding: 1rem;
  background-color: rgb(186, 186, 233);
  display: flex;
  justify-content: space-between;
}

.noteIconContainer button {
  margin-right: 1rem;
}

.noteIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
}

/* USER INFO */

.fullNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qrCode {
  width: 20%;
}

#user {
  margin-top: 1rem;
}

.label .button{
  padding: .5rem 1rem;
  text-align: center;
  margin-left: 1rem;
}