.usaMapContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.usa-map{
    width: 50%;
}

.texas{
    top: 23rem;
    right: 40rem;
}

.newYork{
    top: 12rem;
    right: 25rem;
}

.utah{
    top: 16rem;
    right: 49rem;
}

.florida{
    top: 26rem;
    right: 27rem;
}

.georgia{
    top: 22rem;
    right: 29rem;
}

.northCarolina{
    top: 19rem;
    right: 26rem;
}

.wisconsin{
    top: 12rem;
    right: 34rem;
}

.state{
    position: absolute;
}